header {

    /* padding: 150px 0; */
    height: 635px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    .bg-image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    #startChange,
    nav {
        z-index: 2;
        position: relative;
    }

    #startChange {
        display: flex;
        flex-direction: row;
    }

    .name, .title, .short-desc {
        color: var(--bs-white);
    }
    .name, .title {
        text-transform: uppercase;
    }

    .logo-image {
        margin-bottom: 3rem;
    }

    .name {
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: .45rem;
        line-height: 1.2;
    }

    .title {
        font-size: 1.25rem;
        letter-spacing: .5rem;
        margin-bottom: 3rem;
        line-height: 1.25;
    }

    .short-desc {
        letter-spacing: 0.25rem;
        margin-bottom: 3rem;
    }


    /*--------- NAVIGATION ---------*/
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav {

        display: inline-block;
        line-height: 1;

        .collapse {
            justify-content: center;
        }

        .nav-link {
            text-transform: uppercase;

            font-size: 3.5rem;
            /* font-weight: 600; */
            font-variation-settings: "wght" 800, "wdth" 125;
            /* font-stretch: 125%; */
            color: var(--white-color);
            text-decoration: none;
            letter-spacing: 1rem;
            transition: .4s;

            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: #6D81AB;
            color: #22252b;

            &:hover {
                font-variation-settings: "wght" 400, "wdth" 100;
                letter-spacing: .35rem;
                /* font-stretch: 100%; */
            }
        }
    }
    

    

}

