<section class="about-section">
    <div class="container">
         <div class="col-lg-12 col-md-12 col-sm-12 heading text-end">
            <h2>About</h2>
        </div>
    </div><!-- container -->
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 intro-container">
           <div class="greeting">
                <h3>Hello, I'm Lianne</h3>
                <p>I design and build responsive websites</p>
           </div><!-- greeting -->
            
        </div><!-- intro-container -->
    </div><!-- container -->
    <div class="container profile">
        <div class="col-lg-4 col-md-4 col-sm-12 profile-img">
            <img class="profile-image js-profile-image" title="" alt="">
        </div><!-- profile-img -->
        <div class="col-lg-8 col-md-8 col-sm-12 profile-copy">
            <p>Having worked as a graphic artist, web designer and web developer for 16 years. Front-end development is my greatest passion and I enjoy the challenge of building websites especially ones with complex designs and dynamic content.</p>
            <p>I am a skilled with extensive experience in crafting responsive, accessible, and high-fidelity digital assets, including websites, landing pages and email marketing collaterals. Proven ability to translate complex designs into robust front-end solutions, leveraging HTML, CSS, and JavaScript within enterprise environments such as Salesforce Marketing Cloud, WordPress, and Shopify</p>
            <p>Adept at streamlining development workflows through strategic application of scripting, dynamic content, and reusable components, while consistently ensuring brand consistency and optimal user experience.  Experienced in deploying tracking and measurement codes, maintaining design systems, and collaborating cross-functionality to achieve project goals.</p>
            <p>I believe that a strong foundation in web design and development principles, including responsive web design, and adapting to new technologies and platforms is very important in the work that I do.</p>
			<a href="mailto:lianneperol@gmail.com" class="btn btn-primary">contact me</a>
        </div><!-- profile-copy -->
        
    </div><!-- container -->
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 skills-container">
            <div class="fe-be-container text-center">
                <h3>Web Development</h3>
                <img class="html-icon js-html-icon" title="" alt="HTML">
                <img class="css-icon js-css-icon" title="" alt="CSS">
                <img class="js-icon js-js-icon" title="" alt="Javascript">
                <img class="bootstrap-icon js-bootstrap-icon" title="" alt="Bootstrap">
                <img class="sass-icon js-sass-icon" title="" alt="Sass">
                <img class="webpack-icon js-webpack-icon" title="" alt="Webpack">
                <img class="node-icon js-node-icon" title="" alt="Node Js">
                <img class="github-icon js-github-icon" title="" alt="Github">
                <img class="wpengine-icon js-wpengine-icon" title="" alt="WPEngine">
                <img class="php-icon js-php-icon" title="" alt="PHP">
            </div><!-- fe-be-container -->

            <div class="graphics-cms-pm-container text-center">
                <div class="graphics-skills text-center">
                    <h3>Graphic Design</h3>
                    <img class="ps-icon js-ps-icon" title="" alt="Adobe Photoshop">
                    <img class="ai-icon js-ai-icon" title="" alt="Adobe Illustrator">
                    <img class="figma-icon js-figma-icon" title="" alt="Figma">
                </div><!-- graphics-skills -->

                <div class="cms text-center">
                    <h3>Content Management Systems</h3>
                    <img class="wp-icon js-wp-icon" title="" alt="WordPress">
                    <img class="salesforce-icon js-salesforce-icon" title="" alt="SalesForce">
                    <img class="modx-icon js-modx-icon" title="" alt="ModX">
                    <img class="shopify-icon js-shopify-icon" title="" alt="Shopify">
                    <img class="duda-icon js-duda-icon" title="" alt="Duda">
                </div><!-- cms -->

                <div class="proj-mngt text-center">
                    <h3>Project Management</h3>
                    <img class="jira-icon js-jira-icon" title="" alt="Jira">
                    <img class="monday-icon js-monday-icon" title="" alt="Monday">
                </div><!-- proj-mngt -->
                
            </div><!-- graphics-cms-pm-container -->
        </div><!-- skills-container -->

    </div><!-- container -->

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 work-exp-container">
            <h3 class="text-center">Work Experience</h3>

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">

                    <h4 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <div class="position-company">
                                <span class="position">Senior Product Designer</span> | <span>Wells Fargo</span>
                            </div><!-- position-company -->
                            <div class="timeline text-end">
                                May 2022 - Present
                            </div><!-- timeline -->
                        </button>
                    </h4>

                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                        <div class="accordion-body">

                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Taguig City, Manila
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                    <a class="link" href="https://www.wellsfargo.com/" target="_blank" title="Wells Fargo">Wells Fargo</a>
                                </span>
                            </div><!-- location-link -->

                            <div class="desc">
                                <ul>
                                    <li>Developed and maintained responsive digital assets, including emails and landing pages using HTML, CSS, JS and other relevant technologies.</li>
                                    <li>Executed development within enterprise environments, specifically Salesforce Marketing Cloud and WordPress.</li>
                                    <li>Deployed tracking and measurement codes, UTM parameters, and campaign tags in collaboration with data and analytics team.</li>
                                    <li>Crafted highly accurate and accessible front-end solutions that matches complex designs, enhanced with rich media and personalized development.</li>
                                    <li>Streamlined operations and increased efficiency through the strategic application of scripting, dynamic content modules, reusable templates, ad platform-specific tools (e.g. Salesforce or WordPress content blocks).</li>
                                    <li>Curated and maintained component libraries and design systems to facilitate a highly modular and reusable development framework.</li>
                                </ul>
                            </div><!-- desc -->
                            <div class="skillset-container">
                                <span class="skill">
                                    HTML
                                </span><!-- skill -->
                                <span class="skill">
                                    CSS / SASS
                                </span><!-- skill -->
                                <span class="skill">
                                    JS
                                </span><!-- skill -->
                                <span class="skill">
                                    NODE JS
                                </span><!-- skill -->
                                <span class="skill">
                                    PUG
                                </span><!-- skill -->
                                <span class="skill">
                                    WORDPRESS
                                </span><!-- skill -->
                                <span class="skill">
                                    WPENGINE
                                </span><!-- skill -->
                                <span class="skill">
                                    SALESFORCE
                                </span><!-- skill -->
                            </div><!-- skillset-container -->

                        </div><!-- accordion-body -->
                    </div><!-- accordion-collapse -->

                </div><!-- accordion-item -->

                <div class="accordion-item">
                    
                    <h4 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="position-company">
                                <span class="position">Front-end Designer</span> | <span>Sharesource Australia</span>
                            </div><!-- position-company -->
                            <div class="timeline text-end">
                                Oct 2020 - Feb 2022
                            </div><!-- timeline -->
                        </button>
                    </h4>

                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                        <div class="accordion-body">

                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Remote
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                    <a class="link" href="https://www.sharesource.com.au/" target="_blank" title="Sharesource Australia">Sharesource Australia</a>
                                </span>
                            </div><!-- location-link -->

                            <div class="desc">
                                <p>Developed scalable and reusable client collateral templates for outfit.io’s (now under brandfolder and smartsheet) brand management system, using HTML, CSS, and Javascript.</p>
                            </div><!-- desc -->
                            <div class="skillset-container">
                                <span class="skill">
                                    HTML
                                </span><!-- skill -->
                                <span class="skill">
                                    CSS / SASS
                                </span><!-- skill -->
                                <span class="skill">
                                    JS
                                </span><!-- skill -->
                                <span class="skill">
                                    NODE JS
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Illustrator
                                </span><!-- skill -->
                                
                            </div><!-- skillset-container -->

                        </div><!-- accordion-body -->
                    </div><!-- accordion-collapse -->

                </div><!-- accordion-item -->
                
                <div class="accordion-item">
                    
                    <h4 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="position-company">
                                <span class="position">Web Designer / Developer</span> | <span>Promotional Centre Australia</span>
                            </div><!-- position-company -->
                            <div class="timeline text-end">
                                Aug 2017 - Oct 2020
                            </div><!-- timeline -->
                        </button>
                    </h4>

                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                        <div class="accordion-body">

                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Remote
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                    <a class="link" href="https://promotionalcentre.com.au/" target="_blank" title="Promotional Centre Australia">Promotional Centre Australia</a>
                                </span>
                            </div><!-- location-link -->

                            <div class="desc">
                                <p>Designed, built, and maintained websites using HTML, CSS, and Javascript in platforms such as WordPress and ExpressionEngine. Managed web content and occasionally provided graphic design work like art proofs, web banner design, logo redraw, and product logo placements for client presentations.</p>
                            </div><!-- desc -->
                            <div class="skillset-container">
                                <span class="skill">
                                    HTML
                                </span><!-- skill -->
                                <span class="skill">
                                    CSS
                                </span><!-- skill -->
                                <span class="skill">
                                    WordPress
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Photoshop
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Illustrator
                                </span><!-- skill -->

                            </div><!-- skillset-container -->

                        </div><!-- accordion-body -->
                    </div><!-- accordion-collapse -->

                </div><!-- accordion-item -->

                <div class="accordion-item">
                    
                    <h4 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <div class="position-company">
                                <span class="position">Web Designer / Developer</span> | <span>Avenue7media (Freelance)</span>
                            </div><!-- position-company -->
                            <div class="timeline text-end">
                                2019 - 2020
                            </div><!-- timeline -->
                        </button>
                    </h4>

                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                        <div class="accordion-body">

                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Remote
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                    <a class="link" href="https://avenue7media.com/" target="_blank" title="Avenue7media">Avenue7media</a>
                                </span>
                            </div><!-- location-link -->

                            <div class="desc">
                                <p>Designed and built websites and landing pages using HTML, CSS, and Javascript in platforms such as WordPress and Shopify. Also was tasked to design and build email marketing collaterals utilizing omnisend, the integrated marketing platform with Shopify.</p>
                            </div><!-- desc -->
                            <div class="skillset-container">
                                <span class="skill">
                                    HTML
                                </span><!-- skill -->
                                <span class="skill">
                                    CSS
                                </span><!-- skill -->
                                <span class="skill">
                                    WordPress
                                </span><!-- skill -->
                                <span class="skill">
                                    Shopify
                                </span><!-- skill -->
                                <span class="skill">
                                    Omnisend
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Photoshop
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Illustrator
                                </span><!-- skill -->

                            </div><!-- skillset-container -->

                        </div><!-- accordion-body -->
                    </div><!-- accordion-collapse -->

                </div><!-- accordion-item -->

                <div class="accordion-item">
                    
                    <h4 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <div class="position-company">
                                <span class="position">Front-end Developer / Designer</span> | <span>TATA Consultancy Services</span>
                            </div><!-- position-company -->
                            <div class="timeline text-end">
                                Jun 2015 - Aug 2017
                            </div><!-- timeline -->
                        </button>
                    </h4>

                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                        <div class="accordion-body">

                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Taguig City, Manila
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                    <a class="link" href="https://www.tcs.com/" target="_blank" title="TATA Consultancy Services">TATA Consultancy Services</a>
                                </span>
                            </div><!-- location-link -->

                            <div class="desc">
                                <p>There was a transition wherein Hibu became a department within TCS and I was absorbed in the same department I was already in.  During my employment as a Designer in the Web U.S. department, I have been tasked with the same duties as my previous employment with Hibu.</p>
                                <p>An opening in the Web UK department paved the way for me to land a job in the web development field.  I took this opportunity and applied for the front-end developer position and passed.  I was trained alongside other colleagues for a month focusing on building websites using the PSD to HTML workflow wherein the process consists of exporting image elements from Adobe Photoshop and manually adding them to HTML files. RWD or Responsive Website Design was also included in the training.</p>
                                <p>My duties and responsibilities as a front-end developer were as follows:</p>
                                <ul>
                                    <li>Build websites (using the company's platform) with HTML and CSS using the PSD to HTML workflow. Build it as close as possible to the provided design approved by the customer</li>
                                    <li>Ensure the website is still presentable (including layouts, font-sizes, and spacing) when viewed in response to the size of the screen or web browser one is viewing with - (Responsive Web Design)</li>
                                    <li>Ensure the layouts on both Tablets and Mobile devices are still close to the design in Desktop View (in terms of colors, layout, etc.)</li>
                                    <li>Make changes requested by clients</li>
                                </ul>
                            </div><!-- desc -->
                            <div class="skillset-container">
                                <span class="skill">
                                    HTML
                                </span><!-- skill -->
                                <span class="skill">
                                    CSS
                                </span><!-- skill -->
                                <span class="skill">
                                    Duda
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Photoshop
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Illustrator
                                </span><!-- skill -->

                            </div><!-- skillset-container -->

                        </div><!-- accordion-body -->
                    </div><!-- accordion-collapse -->

                </div><!-- accordion-item -->

                <div class="accordion-item">
                    
                    <h4 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <div class="position-company">
                                <span class="position">Designer</span> | <span>Yell Adworks / Hibu</span>
                            </div><!-- position-company -->
                            <div class="timeline text-end">
                                Oct 2010 - Jun 2015
                            </div><!-- timeline -->
                        </button>
                    </h4>

                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                        <div class="accordion-body">

                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Taguig City, Manila
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                    <a class="link" href="https://hibu.com/" target="_blank" title="Hibu">Hibu</a>
                                </span>
                            </div><!-- location-link -->

                            <div class="desc">
                                <p>Formerly known as Yell Adworks, they rebranded and changed their name to Hibu in 2013 when the new product line was introduced.</p>
                                <p>When I was a designer at Hibu, I was part of the Web US department. My responsibilities included designing websites that are in line with customer requests or sometimes at my discretion. The type of business we cater to were usually small to medium business in the U.S.</p>
                                <p>Designers are tasked with the ff:</p>
                                <ul>
                                    <li>Initial build of the websites using Hibu's own sitemaker</li>
                                    <li>Image search from the company's own image library (cropping and simple editing)</li>
                                    <li>Creation of icons (by request)</li>
                                </ul>
                                <p>In my four years at Hibu, there have been several transitions. Changing from one platform (software being used) to another and on the latest one, I was part of the Pilot Team who did most of the testing and provided feedback.</p>
                                <p>During my employment, I also have been appointed POC (Point of Contact) in the teams I became a part of. My duties and responsibilities were as follows:</p>
                                <ul>
                                    <li>Generation of reports needed for the day (i.e. call-ins, production summary, etc.)</li>
                                    <li>Attend to the needs of my teammates especially if my team lead is either busy or on leave</li>
                                    <li>Manage the allocation of jobs to my teammates (aging WIP)</li>
                                    <li>Cascade my teammates' inquiries to our quality coordinators</li>
                                    <li>Validation of our weekly error report</li>
                                    <li>Email of our production summary for the day</li>
                                </ul>
                            </div><!-- desc -->
                            <div class="skillset-container">
                                <span class="skill">
                                    Adobe Photoshop
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Illustrator
                                </span><!-- skill -->
                                <span class="skill">
                                    Moonfruit (CMS)
                                </span><!-- skill -->
                                <span class="skill">
                                    FatWire (CMS)
                                </span><!-- skill -->

                            </div><!-- skillset-container -->

                        </div><!-- accordion-body -->
                    </div><!-- accordion-collapse -->

                </div><!-- accordion-item -->

                <div class="accordion-item">
                    
                    <h4 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <div class="position-company">
                                <span class="position">Graphic Artist</span> | <span>Microsourcing</span>
                            </div><!-- position-company -->
                            <div class="timeline text-end">
                                May 2010 - Oct 2010
                            </div><!-- timeline -->
                        </button>
                    </h4>

                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven">
                        <div class="accordion-body">

                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Eastwood, Quezon City, Manila
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                    <a class="link" href="https://www.microsourcing.com/" target="_blank" title="Microsourcing">Microsourcing</a>
                                </span>
                            </div><!-- location-link -->

                            <div class="desc">
                                <p>I was hired at Microsourcing as a Graphic Artist for their client Yell Adworks. Designing websites for small businesses in the U.S was our major responsibility. During my employment, I was tasked to create websites from scratch using HTML and CSS template codes on their own platform and design website header banners and call-outs.</p>
                            </div><!-- desc -->
                            <div class="skillset-container">
                                <span class="skill">
                                    Adobe Photoshop
                                </span><!-- skill -->
                                <span class="skill">
                                    Adobe Illustrator
                                </span><!-- skill -->
                                <span class="skill">
                                    WebsPlanet (CMS)
                                </span><!-- skill -->

                            </div><!-- skillset-container -->

                        </div><!-- accordion-body -->
                    </div><!-- accordion-collapse -->

                </div><!-- accordion-item -->
                
            
            </div><!-- accordion -->
            


   

        </div><!-- work-exp-container -->
    </div><!-- container -->

</section>