<section class="about-section">
    <div class="container">
         <div class="col-lg-12 col-md-6 col-sm-12 heading text-end">
            <h2>About</h2>
        </div>
    </div><!-- container -->
    <div class="container">
        <div class="col-lg-12 col-md-6 col-sm-12 intro-container">
           <div class="greeting">
                <h3>Hello, I'm Lianne</h3>
                <p>I design and build responsive websites</p>
           </div><!-- greeting -->
            
        </div><!-- intro-container -->
    </div><!-- container -->
    <div class="container profile">
        <div class="col-lg-4 col-md-4 col-sm-12 profile-img">
            <img class="profile-image js-profile-image" title="" alt="">
        </div><!-- profile-img -->
        <div class="col-lg-8 col-md-8 col-sm-12 profile-copy">
            <p>Having worked as a graphic artist, web designer and web developer for 16 years. Front-end development is my greatest passion and I enjoy the challenge of building websites especially ones with complex designs and dynamic content.</p>
            <p>I am a skilled with extensive experience in crafting responsive, accessible, and high-fidelity digital assets, including websites, landing pages and email marketing collaterals. Proven ability to translate complex designs into robust front-end solutions, leveraging HTML, CSS, and JavaScript within enterprise environments such as Salesforce Marketing Cloud, WordPress, and Shopify</p>
            <p>Adept at streamlining development workflows through strategic application of scripting, dynamic content, and reusable components, while consistently ensuring brand consistency and optimal user experience.  Experienced in deploying tracking and measurement codes, maintaining design systems, and collaborating cross-functionality to achieve project goals.</p>
            <p>I believe that a strong foundation in web design and development principles, including responsive web design, and adapting to new technologies and platforms is very important in the work that I do.</p>
			<a href="mailto:lianneperol@gmail.com" class="btn btn-primary">contact me</a>
        </div><!-- profile-copy -->
        
    </div><!-- container -->
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 skills-container">
            <div class="fe-be-container text-center">
                <h3>Web Development</h3>
                <img class="html-icon js-html-icon" title="" alt="HTML">
                <img class="css-icon js-css-icon" title="" alt="CSS">
                <img class="js-icon js-js-icon" title="" alt="Javascript">
                <img class="bootstrap-icon js-bootstrap-icon" title="" alt="Bootstrap">
                <img class="sass-icon js-sass-icon" title="" alt="Sass">
                <img class="webpack-icon js-webpack-icon" title="" alt="Webpack">
                <img class="node-icon js-node-icon" title="" alt="Node Js">
                <img class="github-icon js-github-icon" title="" alt="Github">
                <img class="wpengine-icon js-wpengine-icon" title="" alt="WPEngine">
                <img class="php-icon js-php-icon" title="" alt="PHP">
            </div><!-- fe-be-container -->

            <div class="graphics-cms-pm-container text-center">
                <div class="graphics-skills text-center">
                    <h3>Graphic Design</h3>
                    <img class="ps-icon js-ps-icon" title="" alt="Adobe Photoshop">
                    <img class="ai-icon js-ai-icon" title="" alt="Adobe Illustrator">
                    <img class="figma-icon js-figma-icon" title="" alt="Figma">
                </div><!-- graphics-skills -->

                <div class="cms text-center">
                    <h3>Content Management Systems</h3>
                    <img class="wp-icon js-wp-icon" title="" alt="WordPress">
                    <img class="salesforce-icon js-salesforce-icon" title="" alt="SalesForce">
                    <img class="modx-icon js-modx-icon" title="" alt="ModX">
                    <img class="shopify-icon js-shopify-icon" title="" alt="Shopify">
                    <img class="duda-icon js-duda-icon" title="" alt="Duda">
                </div><!-- cms -->

                <div class="proj-mngt text-center">
                    <h3>Project Management</h3>
                    <img class="jira-icon js-jira-icon" title="" alt="Jira">
                    <img class="monday-icon js-monday-icon" title="" alt="Monday">
                </div><!-- proj-mngt -->
                
            </div><!-- graphics-cms-pm-container -->
        </div><!-- skills-container -->

    </div><!-- container -->

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 work-exp-container">
            <h3>Work Experience</h3>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="position-company">
                                    <span class="position">Senior Product Designer</span> | <span>Wells Fargo</span>
                                </div><!-- position-company -->
                                <div class="timeline">
                                    May 2022 - Present
                                </div><!-- timeline -->
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="location-link">
                                <span class="location">
                                    <img class="location-icon js-location-icon" title="" alt="">
                                    Taguig, Manila
                                </span>
                                <span class="link">
                                    <img class="link-icon js-link-icon" title="" alt="">
                                        <a class="link" href="https://www.wellsfargo.com/" target="_blank" title="Wells Fargo">Wells Fargo</a>
                                </span>
                            </div><!-- location-link -->
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- work-exp-container -->

</section>