<section class="contact-section">
	<img class="bg-image js-bg-image" title="" alt="">

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 heading text-end">
            <h2>Contact</h2>
        </div>
    </div><!-- container -->

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 contact-copy">
            <div class="name-position-logo">
                <img class="logo-image js-logo-image" title="Lianne P Logo" alt="Lianne P Logo">
                    <div class="name-position">
                        <p class="name">Roconceliana Perol</p>
                        <p class="title">Senior Web Developer & Designer</p>
                    </div><!-- name-position -->
            </div><!-- name-position-logo -->

            <div class="lets-talk">
                <h2>Let's Talk</h2>
                <p>Interested in hiring me for your project?</p>
                <p>Contact me at <a href="mailto:lianneperol@gmail.com" title="lianneperol@gmail.com">lianneperol@gmail.com</a></p>
            </div><!-- lets-talk -->
            
        </div><!-- contact-copy -->
    </div><!-- container -->

</section>