
<div class="content container">
    <div class="col-lg-12 text-center">
        <div class="socialMedia">
            <a class="social btn btn-secondary" href="https://www.behance.net/annali" target="_blank" title="Lianne Perol on Behance"><img class="js-icon-behance-icon" alt="Behance"></a>
            <a class="social btn btn-secondary" href="https://ph.linkedin.com/in/roconceliana-perol" target="_blank" title="Lianne Perol on LinkedIn"><img class="js-icon-linkedin-icon" alt="LinkedIn"></a>
            <a class="social btn btn-secondary" href="https://99designs.com/profiles/annalidesigns" target="_blank" title="Lianne Perol on 99designs"><img class="js-icon-99-icon" alt="99designs"></a>
        </div>
        <p>Built with Bootstrap by LianneP &copy; 2026</p>
        <a href="https://liannep-web.github.io/" title="liannep-web.github.io">liannep-web.github.io</a>
    </div><!-- col-lg-12 -->
</div><!-- content container -->
